.layout
  background-color: white
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  .layout-header
    color: white
    text-align: center
    font-weight: bold
    font-size: x-large

  .layout-content, .tabs, .ant-tabs-content, .ant-tabs-tabpane, .tail
    display: flex
    flex-direction: column
    flex: 1

  .files
    max-height: 150px
    margin-top: 8px
    margin-bottom: 8px
    overflow: auto

  .tabs
    margin-top: 8px

  .tail
    .grep
      margin-bottom: 8px
      .ant-tag
        margin-top: 8px
    .tail-lines
      overflow: auto
      padding: 0 5px

      .tail-line
        white-space: nowrap

        &:nth-of-type(odd)
          background-color: #f9f9f9
        &:hover
          background-color: #f5f5f5
