.layout
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

  .layout-header
    color: white
    text-align: center
    font-weight: bold
    font-size: x-large

  .layout-content, .tabs, .ant-tabs-content, .ant-tabs-tabpane, .tail
    display: flex
    flex-direction: column
    flex: 1

  .tail
    .grep
      margin-bottom: 8px
      .ant-tag
        margin-top: 8px
    .tailLines
      background-color: white
      overflow: auto
      padding: 0 5px
